/*
****************************** TOPO ******************************
*/
.bg-black{
	background: black;
}

#banner{
	background: #4F4F4F;
	height: 30vh;
}
.img-banner1, .img-banner2{
	height: 30vh;
}
/*
****************************** CORPO ******************************
*/
main{
	font-family:Helvetica, arial, sans-serif;
}
/*
****************************** BOTÃO WHATSAPP ******************************
*/
#float-whats{
	position: fixed;
	right: 5px;
	bottom: 50px;
	height: 50px;
	width: 50px;
	background-color: black;
}
#float-whats img{
	height: 50px;
	width: 50px;
}
/*
****************************** GALERIA ******************************
*/
.galery{
	display: flex;
	flex-wrap: wrap;
	max-width: 1000px;
	margin: 0 auto;
}
.img-galery{
	flex: 1 1 200px;
	margin: 10px;
	background: white;
}
.img-galery img{
	max-width: 100%;
	display: block;
}
.img-galery img:hover{
	cursor: pointer;
	box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.4);
}